.loader-container {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
}

.loader {
    width: 75px;
    height: 75px;
    margin-top: 130px;
    border: 5px solid;
    border-color: #9df13d transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}