.normalFont {
    font-size: 14px;
    font-weight: 400;
}

.titleFont {
    font-size: 18px;
    font-weight: 600;
}

.messageFont {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.smallInfoFont {
    font-size: 12px;
    font-weight: 600;
}

.errorFont {
    font-size: 14px;
    font-weight: 600;
    color: red;
}