.margin-t-5 {margin-top: 5px;}
.margin-t-10 {margin-top: 10px;}
.margin-t-15 {margin-top: 15px;}

.margin-l-5 {margin-left: 5px;}
.margin-l-10 {margin-left: 10px};
.margin-l-15 {margin-left: 15px};

.margin-r-8 {margin-right: 8px;}